.swiper-button-prev,
.swiper-button-next {
  border-radius: 100%;
  padding: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #000;
  font-size: 22px;
  background: white;
  border-radius: 100%;
  padding: 10px 15px;
}
.swiper-button-next,
.swiper-button-next::after {
  display: hidden;
}
