@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255);
}

.flex-c {
  display: flex;
  text-align: center;
  justify-content: center;
}

.anim-opacity {
  animation: anim-opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes anim-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim-scale {
  animation: anim-scale 14s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite
    alternate-reverse;
}
@keyframes anim-scale {
  0% {
    scale: 1.4;
  }
  100% {
    scale: 1;
  }
}
